
.title {
  font-family: $font-family;
  font-size: 20px;
  text-align: center;
  background: $background;
}

.percentage {
  font-family: $font-family;
  font-size: 18px;
  text-align: center;
}

.bar-container {
  margin: 40px;
}
